<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style2.css" />
</head>
<body>
  <div class = "flex-container">
    <div><h2><%= @game.winner.name %> wins! </h2> </div>
    <div><p>Hard luck: <%= @game.loser.name %></p></div>
    <div class="form">
      <form action="/">
        <p><input type="submit" value="OK"></p>
      </form>
    </div>
  </div>
</body>
</html>