<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style2.css" />
</head>
<body>
<div2>
<h2><%= @game.winner.name %> wins! </h2> 
<p>Hard luck: <%= @game.loser.name %></p>
<form action="/">
  <input type="submit" value="OK">
</form>
</div2>
</body>
</html>