body {
  background-color: lightblue;
  background-image: url("./images/death.png");
  background-repeat: no-repeat, repeat;
  background-position: center top;
}

div1 {
  background-color: lightblue;
  background-size: 100px 80px;
  background-repeat: no-repeat, repeat;
  background-position: center top;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: rgb(61, 204, 43);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: ghostwhite
}

form {
  text-align: center;
  }